<ion-item>
  <ion-datetime 
    *ngIf="dateType == 'all';else savedOnly"
    displayFormat="YYYY-MM-DD"
    min="2021-05-09" 
    max="2030"
    [(ngModel)]="datePicker"
    (ionChange)="onChangeDate()">
  </ion-datetime>
  <ng-template #savedOnly>
    <ion-select [(ngModel)]="datePicker" (ionChange)="onChangeDate()">
      <ion-select-option *ngFor="let date of savedDates" [value]="date">{{date}}</ion-select-option>
    </ion-select>
  </ng-template>
  <ion-segment (ionChange)="onChangeDateType()" [(ngModel)]="dateType" scrollable value="all" color="tertiary">
    <ion-segment-button value="all">
      <ion-icon src="../../../../assets/icon/pencil-outline.svg"></ion-icon>
      <ion-label>저장 모드</ion-label>
    </ion-segment-button>
    <ion-segment-button [disabled]="!savedDates.length" value="readMode">
      <ion-icon src="../../../../assets/icon/reader-outline.svg"></ion-icon>
      <ion-label>기록 보기</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-item>