<ion-header>
  <ion-toolbar>
    <ion-title>시간 입력</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <app-date 
  (changeDate)="onDateChanged($event)"
  (changeDateType)="onDateTypeChanged($event)">
  </app-date>
  <ion-item>
    <span class="ion-padding-start">
      <ion-button 
        color="success" 
        fill="solid" 
        slot="end" 
        (click)="filterGroups($event.target.nextSibling, true)" 
        clickable>주간</ion-button>
      <ion-button 
        color="medium" 
        fill="solid" 
        slot="end" 
        (click)="filterGroups($event.target.previousElementSibling, false)" 
        clickable>야간</ion-button>
    </span>
    <span>
      <ion-item slot="end">
        <ion-label>오타방지모드</ion-label>
        <ion-toggle (ionChange)="autoMode = !autoMode" color="danger" checked></ion-toggle>
      </ion-item>
    </span>
  </ion-item>
  <ion-list>
    <app-time-read 
      *ngIf="isReadMode;else writeComponent"
      [filteredGroups]="filteredGroups"
    ></app-time-read>
    <ng-template #writeComponent>
      <app-time-write
        [filteredGroups]="filteredGroups"
        [autoMode]="autoMode"
        (save)="save()"
      ></app-time-write>
    </ng-template>
  </ion-list>
</ion-content>