<ion-header>
  <ion-toolbar>
    <ion-title>시간 입력</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <app-date 
  (changeDate)="onDateChanged($event)"
  (changeDateType)="onDateTypeChanged($event)">
  </app-date>
  <ion-item>
    <span class="ion-padding-start">
      <ion-button 
        color="success" 
        fill="solid" 
        slot="end" 
        (click)="filterGroups($event.target, true)" 
        clickable>주간</ion-button>
      <ion-button 
        color="medium" 
        fill="solid" 
        slot="end" 
        (click)="filterGroups($event.target, false)" 
        clickable>야간</ion-button>
    </span>
  </ion-item>
  <ion-list>
    <app-time-read 
      *ngIf="isReadMode;else writeComponent"
      [filteredGroups]="filteredGroups"
    ></app-time-read>
    <ng-template #writeComponent>
      <app-time-write
        [filteredGroups]="filteredGroups"
        (save)="save()"
      ></app-time-write>
    </ng-template>
  </ion-list>
</ion-content>