<ion-header>
  <ion-toolbar>
    <ion-title>시간 입력</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-item>
      <ion-datetime 
        *ngIf="dateType == 'all';else savedOnly"
        displayFormat="YYYY-MM-DD" 
        pickerFormat="YYYY-MM-DD"
        min="2021-04-25" 
        max="2030"
        [(ngModel)]="datePicker"
        (ionChange)="onChangeDateType(datePicker, dateType)">
      </ion-datetime>
    <ng-template #savedOnly>
      <ion-select [(ngModel)]="datePicker" (ionChange)="onChangeDateType(datePicker, dateType)">
        <ion-select-option *ngFor="let date of savedDates" [value]="date">{{date}}</ion-select-option>
      </ion-select>
    </ng-template>
    <ion-select [(ngModel)]="dateType" [disabled]="!savedDates.length" (ionChange)="onChangeDateType(datePicker, dateType)">
      <ion-select-option value="all">전체</ion-select-option>
      <ion-select-option value="savedOnly">내역</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <span class="ion-padding-start">
      <ion-button 
        color="success" 
        fill="solid" 
        slot="end" 
        (click)="filterGroups($event.target.nextSibling, true)" 
        clickable>주간</ion-button>
      <ion-button 
        color="medium" 
        fill="solid" 
        slot="end" 
        (click)="filterGroups($event.target.previousElementSibling, false)" 
        clickable>야간</ion-button>
    </span>
  </ion-item>
  <ion-list>
    <!--
      todo: 시간 표기는 hh:mm로 변경
    -->
    <app-time-write 
      *ngIf="dateType == 'all';else readComponent"
      [filteredGroups]="filteredGroups"
      (save)="save()"
    ></app-time-write>
    <ng-template #readComponent>
      <app-time-read
        [filteredGroups]="filteredGroups"
      ></app-time-read>
    </ng-template>
  </ion-list>
</ion-content>