<ion-card *ngFor="let group of filteredGroups; index as idx;">
  <ion-card-header>
    <ion-item color="primary">
      <ion-label aria-label="location">{{group.location}}</ion-label>
        <ion-button (click)="reverseOrder(group.location)" color="light">
          <ion-icon slot="icon-only" name="swap-vertical-outline"></ion-icon>
        </ion-button>
      <ion-toggle color="light" slot="end" aria-label="location" [checked]="show(group.location)" (ionChange)="toggle($event, group.location)"></ion-toggle>
    </ion-item>
  </ion-card-header>
  <ion-card-content *ngIf="show(group.location);">
    <ion-item *ngFor="let recoder of group.recoders; let recoderIdx = index;">
      <ion-grid>
        <ion-row>
          <ion-col size-sm="2">
            <ion-label aria-label="station">{{recoder.station}}</ion-label>              
          </ion-col>
          <ion-col size-sm="5">
            <ion-input
            aria-label="savedTime" 
              type="text" 
              maxlength="4"
              inputmode="numeric"
              placeholder="점검시간"
              appTimeValidator
              id="{{_TIME_TYPE[0]}}-{{idx}}-{{recoderIdx}}"
              [(ngModel)]="recoder.savedTime"
              [appShiftFocus]="_TIME_TYPE"
              [attr.hasNext]="true"
              (keyup)="onSave($event, idx, recoderIdx, 'savedTime')"
            ></ion-input>
          </ion-col>
          <ion-col size-sm="5">
            <ion-input 
            aria-label="checkTime" 
              type="text"
              maxlength="4"
              inputmode="numeric" 
              placeholder="저장된시간"
              appTimeValidator
              id="{{_TIME_TYPE[1]}}-{{idx}}-{{recoderIdx}}"
              [(ngModel)]="recoder.checkTime"
              [appShiftFocus]="_TIME_TYPE"
              [attr.hasNext]="!!group.recoders[recoderIdx+1]"
              (keyup)="onSave($event, idx, recoderIdx, 'checkTime')"
            ></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card-content>
</ion-card>