<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-title>
      장소 입력 템플릿
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [fullscreen]="true">
  <app-add-template 
    [index]=0
    [locations]="getLocations()"
    (newLocation)="onAddLocation($event)">
  </app-add-template>
  <div class="ion-padding">
    <ion-list>
      <div *ngFor="let template of templateArray; let i = index">
        <ion-card>
          <ion-card-header>
            <ion-item>
              <ion-icon color="danger" slot="start" name="trash" size="large" (click)="deleteLocation(i)"></ion-icon>
              <ion-card-title>{{template.location}}</ion-card-title>
              <ion-note slot="end">{{template.info.station.length}}</ion-note>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
              <ion-item>
                <ion-chip [color]="template.info.isDayTime ? 'success' : 'medium'">{{template.info.isDayTime | dayTime}}점검</ion-chip>
                <ion-button color="success" slot="end" (click)="presentModal(template.location)">
                  <ion-label>수정하기</ion-label>
                </ion-button>
              </ion-item>
          </ion-card-content>
        </ion-card>
        <app-add-template 
          [index]="i+1"
          [locations]="getLocations()"
          (newLocation)="onAddLocation($event)">
        </app-add-template>
      </div>
    </ion-list>
  </div>
  <ion-fab slot="fixed" vertical="top" horizontal="end" (click)="saveTemplate()">
    <ion-fab-button color="warning" [disabled]="!templateArray.length">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>