<ion-header>
  <ion-toolbar>
    <ion-title>불러오기 모드</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div *ngIf="recoderGroups; else blankPage">
    <ion-select [(ngModel)]="datePicker" (ionChange)="onChangeDate()">
      <ion-select-option *ngFor="let date of savedDates" [value]="date">{{date}}</ion-select-option>
    </ion-select>
    <ion-list>
      <ion-card *ngFor="let group of recoderGroups; let idx = index;">
        <ion-card-header color="secondary">
          <ion-label>{{group.location}}</ion-label>
        </ion-card-header>
        
        <ion-item *ngFor="let recoder of group.recoders; let recoderIdx = index;">
            <ion-row>
              <ion-col size-sm="2">
                <ion-label>{{recoder.station}}</ion-label>              
              </ion-col>
              <ion-col size-sm="5">
                <ion-input 
                  placeholder="점검시간"
                  [(ngModel)]="recoder.savedTime"
                  readonly
                ></ion-input>
              </ion-col>
              <ion-col size-sm="5">
                <ion-input 
                  placeholder="저장된시간"
                  [(ngModel)]="recoder.checkTime"
                  readonly
                ></ion-input>
              </ion-col>
            </ion-row>
        </ion-item>
      </ion-card>
    </ion-list>
  </div>
  <ng-template #blankPage>
    기록된 내용이 없음다.
  </ng-template>
  
</ion-content>
