<div class="ion-page">
  <ion-header>
    <ion-item color="danger">수정하기 모드</ion-item>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()">Close</ion-button>
      </ion-buttons>
      <ion-title>{{recoderTemplate.location}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item>
      <ion-label>점검 위치 추가</ion-label>
      <div class="item-note" item-end>
        <ion-button color="primary" (click)="addStation()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>근무 시간 선택: {{recoderTemplate.info.isDayTime | dayTime}}점검</ion-label>
      <ion-toggle color="success" [ngModel]="recoderTemplate.info.isDayTime"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="접미사(ex: 몇[호기]) 입력시 자동추가" [ngModel]="recoderTemplate.info.postfix"></ion-input>
    </ion-item> 
    <div class="ion-padding">
      <ion-list>
        <ion-item *ngFor="let station of recoderTemplate.info.station; let i = index">
          <ion-input type="text" placeholder="위치명" [ngModel]="station" (ionInput)="updateStation(i, $event)"></ion-input>
          <ion-button color="danger" slot="end" clear (click)="deleteStation(i)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</div>